.buttonBuy{
    width: 80%;
    height: 30px;
    color: #ddd;
    font-weight: 700;
    border-radius: 7px;
    border: 1px solid transparent;
    cursor: pointer;
}

.cardBtns{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 412px) {
    .buttonBuy{
        border-radius: 50%;
        height: unset;
        width: unset;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        color: #444;
        font-size: 1.2rem;
    }
}