.destSectionTitle{
    color: #eee;
    background-color: #222;
    font-size: 1.7rem;
    font-weight: 700;
    border-bottom: 2px solid #ccc;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.destCard{
    margin: 50px 10px 0 10px;
    border: 1px solid;
    width: 200px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
    position: relative;
}

.destCard:last-child{
    margin: 50px 30px;
}

.destImg{
    width: 200px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.destNome{
    margin-top: 10px;
    height: 40px;
    font-size: 1.2rem;
}

.destContainer, .mvendidosContainer{
    background-color: #222;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: #888 0 0 5px ;
    /* border-radius: 20px; */
    height:600px;
    width: 100vw;
    overflow-x: scroll;
    margin: auto;
}

.mvendidosContainer{
    overflow: none;
    display: flex;
    flex-wrap: wrap;
}

.mvendidosTagTop{
    color: #eee;
    font-size: 1rem;
    font-weight: 700;
    background-color: rgb(214, 0, 0);
    border-radius: 0px 0px 0px 10px;
    border: 1px #fff solid;
    padding: 3px 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.destPreco{
    font-weight: 700; 
    font-size: 1.2rem;
    position: relative;
}

.destDescontoSpan{
    position: absolute;
    top: 0;
    left: 0;
    font-size: .8rem;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 700;
    background-color: #f00;
    padding: 3px 6px;
    border-radius: 0px 0px 10px 0px;
}

.destDelDesconto{
    font-size: .8rem;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.destaqueContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.destaqueTexto{
    padding: 20px 20px;
    font-size: 1rem;
}

@media screen and (max-width: 360px) {
    .destCard{
        width: 120px;
        height: 320px;
        padding: 0px 10px;
        justify-content: start;
        border-radius: 8px;
    }

    .destCard:last-child {
        margin: 10px ;
    }

    .destContainer{
        height: unset;
    }

    .destImg, .destDescontoSpan{
        margin-top: 3px;
    }

    .destDescontoSpan{
        border-radius: 5px 0 10px 0;
        margin-left: 2px;
    }

    .destImg{
        width: 135px;
        height: 200px;
        
    }

    .destNome{
        font-size: .9rem;
        margin-top: 2px;
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .destPreco{
        font-size: .9rem;
        margin-top: 17px;
        margin-bottom: 5px;
    }
    .destDelDesconto{
        font-size: .7rem;
        top: -5px;
    }
    .destSectionTitle{
        font-size: 1.2rem;
    }
    .destaqueTexto{
        font-size: .8rem;
    }
    
}