.detalhesMainContainer{
    display: flex;
    justify-content: center;
    color: #eee;
}

.detalhesLeft{
    /* border: 1px solid red; */
    font-size: 1.2rem;
    width: 65%;
    padding: 50px;
}

.detalhesRight{
    /* border: 1px solid blue; */
    width: 35%;
    padding: 50px;
}
.detalhesRight > *{
    margin: 20px 0;
    
}
.detalhesRight input{
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.detalhesNomeProduto{
    /* background-color: white; */
    font-size: 1.3rem;
}

.detalhesCapaPequena{
    width: 300px;
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 412px){

    .detalhesMainContainer{
        overflow: hidden;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 100vh;

        /* border: 1px solid red; */
    }

    .detalhesSuperior{
        /* padding: 15px 0; */
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* background-image: ur; */
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .contScreenshots{
        width: 100vw;
        overflow: hidden;
        overflow-x: scroll;
        grid-area: screen;
        display: flex;
    }

    .nomePreco{
        /* border: 1px solid green; */
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-evenly;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .detalhesJogo{
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .plataformas{
        /* border: 1px solid yellow; */
        background-color: #222;
        border-radius: 10px;
        margin: 20px;
        /* height: 150px; */
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .midias{
        /* border: 1px solid blue; */
        background-color: #222;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        margin: 20px;
    }
    .divPlataforma, .divMidias{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        float: left;
    }
    .divPlataforma:nth-child(1):hover{
        color: #0e7a0d;
        background-color: #dedede;
    }
    .divPlataforma:nth-child(2):hover{
        color: #006fcd;
        background-color: #dedede;
    }
    .divPlataforma:nth-child(3):hover{
        color: #00a1f1 ;
        background-color: #dedede;
    }

    .detalhesRight{
        /* width: unset; */
        padding: unset;
        text-align: left;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
    .detalhesDescricao{
        width: 100%;
        font-size: .8rem;
        padding: 10px 10px;
        min-height: 150px;
        background-image: linear-gradient(to top, #111, #111c, #1117, #1113, #1110);
        display: flex;
        justify-content: end;
        align-items: flex-end;
        /* border: 1px solid greenyellow; */

    }

  

    .detalhesNomeProduto{
        font-size: 1rem;
    }

    .detalhesRight > *{
        margin: 10px 0;
    }

    .detalhesRight label{
        font-size: .8rem;
    }
    #divInput label{
        font-size: .8rem;
    }
    #divInput input{
        width: 150px;
    }

    .contDetalhesSelect{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
    }

    

    .contScreenshots img{
        width: 150px;
        margin: 10px;
    }
    .imgModal{
        width: 100vw;
        height: 100vh;
        background-color: #222;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }
    /* .imgModal img{
        width: 100%;
    } */
    .modalSuperior{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modalInferior{
        width: 95vw;
        height: 80px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        overflow: hidden;
    }
    .modalInferior span{
        padding: 10px 5px;
        font-size: 1.5rem;
    }
    .modalInferior span:hover{
        background-color: #eee2;
        border-radius: 20px;
    }

    .modalInferiorImg{
        width: 20%;
        margin: 0 15px;
        opacity: .7;
        cursor: pointer;
    }

    .inferiorImagemGrande{
        width: 100%;
    }
 
    #iconeFecharModal{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        transition: 0;
        text-align: center;
    }
    #iconeFecharModal:hover{
        transform: scale(1.2);
    }
    .modalMiniaturaMeio{
        /* transform: scale(1.2); */
        opacity: 1;
        cursor: pointer;
        width: 25%;
    }

    .dadosCep{
        font-size: .8rem;
    }
}