h1{
    color: #333;
    margin: 20px;
}

.logcad{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #dedede; */
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    /* border: 1px solid red; */
}

.logModal{
    /* border: 1px solid #aaa; */
    background-color: rgb(48, 48, 48);
    width: 90%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    /* align-items: center; */
}

#spanTitle{
    /* color: #faa; */
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0px auto;
}

#loginTitle {
    
    font-size: 2rem;
    color: #aaaaaa;
    margin: 30px auto;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}

#login, #cadastro{
    transition: all .3s;
}

.containerLoginCadastro{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.toogleEscolhido{
    transition: all .3s;
    color: #ffd0d0;
    text-shadow: #c00 0 0 10px, #c00 0 0 15px, #c00 0 0 30px;
}

.loginMsgErro{
    color: #c00;
    font-weight: 700;
    margin: 10px 0;
}


#inputEmail{
    color: #c00;
    
}
.logModal label{
    font-size: 2rem;
    color: #c00;
    transform: translate(10px, 29px);
    font-size: 1.2rem;
    margin: 5px 0;
    display: flex;
    width: 80px;
    flex-direction: column;
    transition: .5s;
    /* border: 2px solid green; */
    
}

.containerInputs{
    /* border: 1px solid purple; */
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}

a{
    font-size: .9rem;
}

.animate{
    animation-name: inputComErro;
    animation-duration: .3s;
    color: gainsboro;
}

@keyframes inputComErro {
    0%{transform: translateX(5px);}
    25%{transform: translateX(-5px);}
    50%{transform: translateX(5px);}
    75%{transform: translateX(-5px);}
    100%{transform: translateX(5px);}
}


/* .containerInputs span{ */
#btnCadastrar, .btnLogar{
/* #btnCadastrar, .containerInputs span{ */
    color: #dedede;
    background-color: red;
    font-weight: 700;
    text-align: center;
    padding: 5px ;
    width: calc(80% + 4px);
    margin: 10px;
    cursor: pointer;
}
#btnCadastrar{
    color: gainsboro;
    background-color: gray;
}
.loginAlert{
    /* position: absolute; */
    margin: 10px auto;
    color: #dedede;
    bottom: 20px;
    /* left: 50%; */
    /* transform: translate(-50%); */
    /* border: 1px solid #c00; */
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

strong{
    cursor: pointer;
}
.logregSpan{
    color: #dedede;
    margin: 5px;
}

.validacaoRegistro{
    width: 90vw;
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.validacaoRegistro p{
    color: red;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: .8rem;
    margin: 5px 0;
    padding: unset;
    width: 100%;
    display: none;
}

.btnRegOk{
    background-color: 'green';
    color: #dedede;
}
.btnRegNok{
    background-color: gray;
    color: gainsboro;
}

/* .validacaoRegistro :is( span:nth-child(5), span:nth-child(6)){
    display: none;
} */

.iconeDosInputs{
    transition: all .3s;
}


.containerAlternarLoginRegistro{
    display: flex;
    height: 20px;
    width: 40px;
    border: 1px solid #c00;
    border-radius: 25px;
    /* justify-content: start; */
    align-items: center;
    transition: all .3s ease-in;
    position: relative;
    /* box-shadow: #c00 0 0 10px; */
    box-shadow: #c00 0 0 10px;
    background-color: #222;

    /* transform: rotate(90deg); */
}


.alternarDot{
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    /* border: 1px solid white; */
    box-shadow: #dedede 2px 2px 2px inset, inset -2px -2px 2px #444 , inset white 0 0 3px;
    background-color: #bbb;

    transition: all .3s;
    margin-left: 1px;
}

.dotRight{
margin-left: 22px;
}


/* #divInput > label {
    font-size: 1.2rem;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    color: #dedede;
} */



/* .logcad > #divInput{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0;
} */

/* #logcadBtn{
    width: 210px;
    margin: 10px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 0;
    font-weight: 700;
}

.logcad > p {
    margin: 10px;
}

#aviso{
    font-size: 1.3rem;
    color: #c00
} */